.nav {
  --bs-nav-link-font-size: 12px;
}

.centered-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bg-silver { background-color: silver; }
.bg-grey { background-color: grey; }
.bg-olive { background-color: olive; }
.bg-green { background-color: green; }
.bg-blue { background-color: #2980B9; }
.bg-purple { background-color: #9B59B6; }
.bg-red { background-color: #C0392B; }
.bg-orange { background-color: #F39C12; }
.bg-yellow { background-color: #F4D03F; }
.bg-brown { background-color: #943126; }
.bg-fuchsia { background-color: fuchsia; }
