html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller .nav {
  color: rgba(255, 255, 255, .75);
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-scroller .nav-link:hover {
  color: #007bff;
}

.nav-scroller .active {
  font-weight: 500;
  color: #343a40;
}

.bg-silver { background-color: silver; }
.bg-grey { background-color: grey; }
.bg-olive { background-color: olive; }
.bg-green { background-color: #2ECC71; }
.bg-blue { background-color: #2980B9; }
.bg-purple { background-color: #9B59B6; }
.bg-red { background-color: #C0392B; }
.bg-orange { background-color: #F39C12; }
.bg-yellow { background-color: #F4D03F; }
.bg-brown { background-color: #943126; }
.bg-fuchsia { background-color: fuchsia; }

.nav {
  --bs-nav-link-font-size: 12px;
}
